<div *ngFor="let part of parts">
  <h1 *ngIf="part.number">{{'EVENT.LIST.PART_TITLE' | translate}} {{part.number}}</h1>
  <sr-panel *ngIf="!fetchingHeats">
    <sr-event-list-event
      *ngFor="let event of part.events"
      [event]="event"
      [heats]="heats"
    ></sr-event-list-event>
  </sr-panel>
<!--  <sr-panel>-->
<!--    <div class="event link" *ngFor="let event of part.events" [routerLink]="'/m/' + event.meeting + '/event/' + event.number + '/'">-->
<!--      <sr-event-list-tile [event]="event"></sr-event-list-tile>-->
<!--    </div>-->
<!--  </sr-panel>-->
</div>
