<!--<button class="sr-btn-bar sr-btn-icon sr-btn btn-menu" (click)="showMenu()">-->
<!--  <mat-icon>menu</mat-icon>-->
<!--</button>-->

<button class="sr-btn-bar sr-btn-icon sr-btn" [matMenuTriggerFor]="languageMenu">
  <mat-icon>language</mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
  <span class="menu-title"><b>{{'HEADER.MENU.LANGUAGE_TITLE' | translate}}</b></span>
  <mat-divider></mat-divider>

  <button class="sr-btn sr-btn-menu" (click)="changeLocale('de')">
    <mat-icon>translate</mat-icon>
    <span>{{'COMMON.LANGUAGE.DE' | translate}}</span>
  </button>
  <button class="sr-btn sr-btn-menu" (click)="changeLocale('en')">
    <mat-icon>translate</mat-icon>
    <span>{{'COMMON.LANGUAGE.EN' | translate}}</span>
  </button>
</mat-menu>

<button class="sr-btn-bar sr-btn-icon sr-btn" [matMenuTriggerFor]="accountMenu">
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #accountMenu="matMenu">
  <span class="menu-title"><b>{{kcUser["given_name"] + " " + kcUser["family_name"]}}</b></span>
  <mat-divider></mat-divider>

  <button class="sr-btn sr-btn-menu" routerLink="/account/profile" *srIsAuthed="true">
    <mat-icon>person</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.PROFILE_BUTTON_TEXT' | translate}}</span>
  </button>
  <button class="sr-btn sr-btn-menu sr-inactive">
    <mat-icon>settings</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.SETTINGS_BUTTON_TEXT' | translate}}</span>
  </button>

  <mat-divider></mat-divider>

  <button class="sr-btn sr-btn-menu" (click)="login()" *srIsAuthed="false">
    <mat-icon>login</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.LOGIN' | translate}}</span>
  </button>
  <button class="sr-btn sr-btn-menu" (click)="logout()" *srIsAuthed="true">
    <mat-icon>logout</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.LOGOUT' | translate}}</span>
  </button>
</mat-menu>
