<!--<button class="sr-btn-bar sr-btn-icon sr-btn btn-menu" (click)="showMenu()">-->
<!--  <mat-icon>menu</mat-icon>-->
<!--</button>-->

<button class="sr-btn-bar sr-btn-icon sr-btn" [matMenuTriggerFor]="languageMenu">
  <mat-icon>translate</mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
  <span class="menu-title"><b>{{'HEADER.MENU.LANGUAGE_TITLE' | translate}}</b></span>
  <mat-divider></mat-divider>

  <button class="sr-btn sr-btn-menu" (click)="changeLocale('de')">
    <img src="https://flagsapi.com/DE/flat/24.png" alt="DE">
    <span>{{'COMMON.LANGUAGE.DE' | translate}}</span>
  </button>
  <!--button class="sr-btn sr-btn-menu sr-inactive" (click)="changeLocale('cs')">
    <img src="https://flagsapi.com/CZ/flat/24.png" alt="CZ">
    <span>{{'COMMON.LANGUAGE.CZ' | translate}}</span>
  </button-->
  <button class="sr-btn sr-btn-menu" (click)="changeLocale('en')">
    <img src="https://flagsapi.com/GB/flat/24.png" alt="EN">
    <span>{{'COMMON.LANGUAGE.EN' | translate}}</span>
  </button>
  <button class="sr-btn sr-btn-menu sr-inactive" (click)="changeLocale('ua')">
    <img src="https://flagsapi.com/UA/flat/24.png" alt="UA">
    <span>{{'COMMON.LANGUAGE.UA' | translate}}</span>
  </button>
  <!--button class="sr-btn sr-btn-menu sr-inactive" (click)="changeLocale('ru')">
    <img src="https://flagsapi.com/RU/flat/24.png" alt="RU">
    <span>{{'COMMON.LANGUAGE.RU' | translate}}</span>
  </button-->
  <mat-divider></mat-divider>

  <button class="sr-btn sr-btn-menu">
    <a href="https://swimresults.de/article/5-help-to-translate" target="_blank">Language missing? Help to translate!</a>
  </button>
</mat-menu>

<button class="sr-btn-bar sr-btn-icon sr-btn" [matMenuTriggerFor]="accountMenu">
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #accountMenu="matMenu">
  <ng-container *srIsAuthed="true">
    <span class="menu-title" *ngIf="kcUser && kcUser['given_name'] && kcUser['family_name']"><b>{{kcUser["given_name"] + " " + kcUser["family_name"]}}</b></span>
    <mat-divider *ngIf="kcUser && kcUser['given_name'] && kcUser['family_name']"></mat-divider>

      <button class="sr-btn sr-btn-menu" routerLink="/account/profile">
        <mat-icon>person</mat-icon>
        <span>{{'HEADER.MENU.ACCOUNT.PROFILE_BUTTON_TEXT' | translate}}</span>
      </button>
      <button class="sr-btn sr-btn-menu" routerLink="/account/settings">
        <mat-icon>settings</mat-icon>
        <span>{{'HEADER.MENU.ACCOUNT.SETTINGS_BUTTON_TEXT' | translate}}</span>
      </button>

      <mat-divider></mat-divider>

      <button class="sr-btn sr-btn-menu sr-inactive" routerLink="/account/experimental" *srIsAdmin>
          <mat-icon>science</mat-icon>
          <span>{{'HEADER.MENU.ACCOUNT.EXPERIMENTAL_BUTTON_TEXT' | translate}}</span>
      </button>

      <mat-divider></mat-divider>
  </ng-container>

  <button class="sr-btn sr-btn-menu" (click)="login()" *srIsAuthed="false">
    <mat-icon>login</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.LOGIN' | translate}}</span>
  </button>
  <button class="sr-btn sr-btn-menu" (click)="logout()" *srIsAuthed="true">
    <mat-icon>logout</mat-icon>
    <span>{{'HEADER.MENU.ACCOUNT.LOGOUT' | translate}}</span>
  </button>
</mat-menu>
