<div *ngIf="data && data.heat">
  <div class="left-container">
    <div class="time" *ngIf="config.showTimes && data.heat">
      <sr-heat-times [heat]="data.heat"></sr-heat-times>
      <!--span class="estimated time-entry">{{data.heat.getEstimatedStartTime()}}</span-->
    </div>
    <sr-icon-panel
      [class]="getIconClass()"
      [icon]="getIcon()"
      [textContent]="getIconTextContent()"
    ></sr-icon-panel>
  </div>

  <div class="right-container">
<!--    <div class="header-row">-->
<!--      <span class="athlete" *ngIf="config.showAthlete && athlete">-->
<!--        <span class="link athlete-name"  [routerLink]="'/m/' + data.meeting + '/athlete/' + data.athlete">{{athlete.name}}</span>-->
<!--        <span class="athlete-year">{{athlete.year}}</span>-->
<!--        <span class="link athlete-team"  [routerLink]="'/m/' + data.meeting + '/team/' + athlete.team._id">{{athlete.team.name}}</span>-->
<!--      </span>-->
<!--      <span class="event link" *ngIf="config.showEvent" [routerLink]="'/m/' + data.meeting + '/'">Wettkampf {{data.event}} - 50m Schmetterling weiblich</span>-->
<!--      <span class="meeting row-right link" *ngIf="config.showMeeting && meeting" [routerLink]="'/m/' + data.meeting + '/'">{{meeting.getShortSeriesName()}} <span *ngIf="meeting.location?.city">({{meeting.location.city}})</span></span>-->
<!--    </div>-->
    <div class="content-row">
      <span class="event link" *ngIf="config.showEvent" [routerLink]="'/m/' + data.meeting + '/event/' + data.event + '/'">{{'START.EVENT_SHORT' | translate}} {{data.event}}</span>
      <span class="style link" *ngIf="config.showStyle && event && event.style" [routerLink]="'/m/' + data.meeting + '/event/' + data.event + '/'">{{event.relay_distance ? event.relay_distance : event.distance}}m {{'COMMON.STYLE.' + event.style.name + '.NAME' | translate}}</span>
      <span class="style" *ngIf="config.showStyle && (!event || !event.style)"></span>

      <span class="meeting link" *ngIf="config.showMeeting && meeting" [routerLink]="'/m/' + data.meeting + '/'">
        <span class="meeting-date">{{meeting.getStartDate().getMonth()}}/{{meeting.getStartDate().getFullYear()}}</span>
        <span *ngIf="meeting.location?.city" class="meeting-city">{{meeting.location.city}}</span>
      </span>

      <span class="heat" *ngIf="config.showHeat">{{data.heat_number}}</span>
      <span class="lane" *ngIf="config.showLane">{{'START.LANE' | translate}} {{data.lane}}</span>
      <span class="athlete" *ngIf="config.showAthlete && athlete">
        <span class="link athlete-name"  [routerLink]="'/m/' + data.meeting + '/athlete/' + data.athlete">{{athlete.name}}</span>
        <span class="athlete-year">{{athlete.year}}</span>
        <span class="link athlete-team"  [routerLink]="'/m/' + data.meeting + '/team/' + athlete.team._id">{{athlete.team.name}}</span>
      </span>

      <span class="duration registration-time" *ngIf="data.hasResultType(resultTypes.REGISTRATION)">{{getTimeString(data.getTimeMilliseconds(resultTypes.REGISTRATION))}}</span>
      <span class="duration result-time" *ngIf="data.hasResult()"><sr-badge>{{getTimeString(data.getResultMilliseconds())}}</sr-badge></span>
      <span class="reaction" *ngIf="data.hasResultType(resultTypes.REACTION)">{{getReactionString(data.getTimeMilliseconds(resultTypes.REACTION))}}</span>
    </div>
  </div>
</div>
