@import "../../../../../colors";

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.left-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  width: 40px;

  &.left-container-with-times {
    width: 85px;
  }

  &.icon-style-flat {
    vertical-align: top;
  }

  .time {
    display: inline-block;
    width: 45px;
    text-align: left;
    vertical-align: middle;
  }
}

.right-container {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 54px);

  &.right-container-with-times {
    width: calc(100% - 99px);
  }

  .header-row {
    font-weight: bold;
    display: block;
  }

  .content-row {
    span {
      display: inline-block;
      vertical-align: middle;
    }

    .meeting {
      width: 180px;
    }

    .meeting-date {
      width: 70px
    }

    .meeting-city {
      width: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    .event, .style {
      font-weight: 700;
    }

    .event {
      width: 70px;
    }

    .style {
      width: 220px;
    }

    .heat {
      width: 50px;
    }

    .lane {
      width: 70px;
    }

    .athlete {
      span {
        display: inline-block;
      }

      .athlete-name {
        width: 180px;
        font-weight: 700;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      .athlete-year {
        width: 40px;
        margin-right: 12px;
      }

      .athlete-team {
        width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }

    .duration {
      width: 90px;
    }

    .result-time {
      font-weight: bold;
    }

    .reason {
      color: $color-disqualification;
    }
  }
}

