@import "../../../../../colors";

sr-panel {
  width: 100%;
}

.meeting {
  text-align: center;

  .meeting-logo {
    background-color: $color-bg-contrast;
    border-radius: 50%;
    height: 100px;
    display: block;
    width: 100px;
    margin: 0 calc(50% - 50px) 12px;

    mat-icon {
      font-size: 46px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      color: $color-sr-first
    }

    img {
      width: 80px;
      height: 80px;
      margin-top: 10px;
      border-radius: 50%;
    }
  }

  .title,
  .location {
    display: block;
  }

  .title {
    font-weight: 700;
    font-size: 17px;
    height: 54px;
  }

  .location {
    font-weight: 600;
    color: $color-text-gray;

    mat-icon,
    span {
      vertical-align: middle;
    }
  }

  sr-icon-btn {
    display: block;
    margin: 12px 0;
  }
}
