@if (meeting && dateString) {
    <sr-panel [panelTitle]="dateString">
        <div class="meeting">
            <div class="meeting-logo">
                @if ((meeting.layout && !meeting.layout.logo_url) || !meeting.layout) {
                    <mat-icon>event</mat-icon>
                }
                @if (meeting.layout && meeting.layout.logo_url) {
                    <img [src]="meeting.layout.logo_url" alt="Logo {{meeting.getFullSeriesName()}}">
                }
            </div>
            <span class="title link"
                  [routerLink]="'/m/' + meeting.meet_id + '/dashboard'">{{ meeting.getFullSeriesName() }}</span>
            @if (meeting.location && meeting.location.city) {
                <span class="location"><mat-icon>place</mat-icon><span>{{ meeting.location.city }}</span></span>
            }
            <sr-icon-btn [routerLink]="'/m/' + meeting.meet_id + '/dashboard'">
                <mat-icon>arrow_forward</mat-icon>
            </sr-icon-btn>
        </div>
    </sr-panel>
}
