@if (meeting && dateString) {
    <sr-panel [panelTitle]="dateString" [routerLink]="'/m/' + meeting.meet_id + '/dashboard'">
        <div class="meeting">
            <div class="meeting-logo">
                @if ((meeting.layout && !meeting.layout.logo_url) || !meeting.layout) {
                    <mat-icon>event</mat-icon>
                }
                @if (meeting.layout && meeting.layout.logo_url) {
                    <img [src]="meeting.layout.logo_url" alt="Logo {{meeting.getFullSeriesName()}}">
                }
            </div>
            <a class="title link"
                  [routerLink]="'/m/' + meeting.meet_id + '/dashboard'">{{ meeting.getFullSeriesName() }}</a>
            @if (meeting.tags && meeting.tags.length > 0 || meeting.location && meeting.location.city) {
                <div class="tags">
                    @if (meeting.location && meeting.location.city) {
                        <span class="location tag"><mat-icon>place</mat-icon><span>{{ meeting.location.city }}</span></span>
                    }
                    @for (tag of meeting.tags; track tag) {
                        <span class="tag">{{ tag }}</span>
                    }
                </div>
            }
        </div>
    </sr-panel>
}
