@if (team) {
  <div class="logo-container">
      @if (team.logo_url) {
          <img class="logo" [src]="team.logo_url" [alt]="team.name">
      }
      @if (!team.logo_url) {
          <img class="logo" src="/assets/images/logo/club_logo_small.png" [alt]="team.name">
      }
      <!--    <mat-icon class="logo" *ngIf="!team.logo_url">shield</mat-icon>-->
  </div>
  <div class="info">
    <span class="name">
      {{team.name}}
    </span>
      @if (team.country) {
          <span class="country-container">
        <img class="flag" src="https://flagsapi.com/{{flags.get(team.country)}}/flat/24.png" alt="flag">
        <span class="county"> {{ team.country }}</span>
      </span>
      }
  </div>
}
