<ng-container *ngIf="team">
  <div class="logo-container">
    <img class="logo" *ngIf="team.logo_url" [src]="team.logo_url" [alt]="team.name">
    <img class="logo" *ngIf="!team.logo_url" src="/assets/images/logo/club_logo_small.png" [alt]="team.name">
<!--    <mat-icon class="logo" *ngIf="!team.logo_url">shield</mat-icon>-->
  </div>
  <div class="info">
    <span class="name">
      {{team.name}}
    </span>
    <span class="country-container" *ngIf="team.country">
      <img class="flag" src="https://flagsapi.com/{{flags.get(team.country)}}/flat/24.png" alt="flag">
      <span class="county"> {{team.country}}</span>
    </span>
  </div>
</ng-container>
