<sr-widget-title icon="waves">
    {{ 'WIDGET.STARTS.TITLE' | translate }}
</sr-widget-title>

<sr-widget-login-required></sr-widget-login-required>
@if (user && !user.own_athlete_id) {
    <sr-widget-info-text>
    {{'WIDGET.STARTS.NO_OWN_ATHLETE' | translate}}
    <br><br>
    <sr-btn [routerLink]="'/account/settings'">{{'WIDGET.STARTS.SET_OWN_ATHLETE_BUTTON' | translate}}</sr-btn>
    </sr-widget-info-text>
}
@if (user && user.own_athlete_id && starts.length <= 0) {
    <sr-widget-info-text>
    {{'WIDGET.STARTS.NO_STARTS' | translate}}
    </sr-widget-info-text>
}
@if (user && starts) {
    <sr-start-list
        [starts]="starts"
        [config]="config"
    ></sr-start-list>
}
@if (user && user.own_athlete_id) {
    <div class="more-button" [routerLink]="'../athlete/' + user.own_athlete_id">
        <!--mat-icon>format_list_numbered</mat-icon-->
        <span class="link">{{ 'WIDGET.STARTS.SHOW_STARTS_BUTTON' | translate }}</span>
</div>
}
