@if (meetingId) {
    <div class="live-bar" [routerLink]="'/m/' + meetingId + '/live'" [queryParams]="{live: '1'}">
    <div class="bar-live">
        <div class="blink">
            <div class="live-indicator"></div>
            <span class="live-text">Live</span>
        </div>
    </div>
        @if (statusText) {
            <div class="bar-status">
                <span class="bar-status-text">{{ statusText }}</span>
            </div>
        }
        @if (!statusText && currentHeat && event) {
            <sr-heat-times [heat]="currentHeat"></sr-heat-times>
            <sr-icon-panel [textContent]="event.number + ''"></sr-icon-panel>
            <div class="bar-content">
                <span class="bar-event">{{ 'COMMON.EVENT.SINGULAR' | translate }} {{ event.number }}
                    - {{ event.relay_distance ? event.relay_distance : event.distance }}m
                    {{ 'COMMON.STYLE.' + event.style.name + '.NAME' | translate }} {{ event.name_extension }} {{ 'COMMON.GENDER.' + event.gender + '.NAME' | translate }}</span>
                <span>{{ 'COMMON.HEAT.SINGULAR' | translate }} {{ currentHeat.number }} / {{ maxHeat }}</span>
            </div>
        }
    </div>
}
