@import "../../../../colors";

.live-bar {
    background-color: $color-bg-popup;
    padding: 12px;
    width: calc(100% - 24px);
    cursor: pointer;
    box-shadow: 0 0 15px -10px $color-shadow-first;
}

.bar-content {
    width: calc(100% - 116px);
}

.bar-content,
sr-icon-panel,
sr-heat-times {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.bar-status-text {
    font-weight: bold;
    display: block;
    text-align: center;
}

.bar-event {
    font-weight: bold;
    display: block;
}


.live-text {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 6px;
}

.bar-live {
    position: absolute;
    right: 0;
    margin-top: -40px;
    background-color: white;
    padding: 4px 0;
    border-top-left-radius: 8px;
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.live-indicator {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 12px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
