@import "../../../../colors";

:host {
  padding: 6px;
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
  color: white;
  //background: linear-gradient(#2c73df, $color-sr-first);
  background-color: $color-icon-first;
  border-radius: 10px;
  vertical-align: middle;
  //box-shadow: 0 0 10px -4px $color-shadow-second;
}

:host.rank1 {
  background-color: #ffc000;
}

:host.rank2 {
  background-color: #acacac;
}

:host.rank3 {
  background-color: #d57b00;
}

:host.disqualified {
  background-color: #d72c2c;
}

.mat-icon {
  margin-top: 2px;
}

span {
  font-size: 14px;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}
