@import "../../../../colors";

:host {
  display: inline-block;
}

.icon-panel {
  padding: 6px;
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
  color: white;
  //background: linear-gradient(#2c73df, $color-sr-first);
  background-color: $color-icon-first;
  border-radius: 10px;
  vertical-align: middle;
  //box-shadow: 0 0 10px -4px $color-shadow-second;

  &.style-flat {
    height: 10px;
    line-height: 0.3;

    .mat-icon {
      margin-top: -6px;
    }
  }
}


.mat-icon {
  margin-top: 2px;
}

span {
  font-size: 14px;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}


// DIFFERENT COLOR DEFINITIONS


:host.rank1 .icon-panel {
  background-color: $color-gold;
}

:host.rank2 .icon-panel {
  background-color: $color-silver;
}

:host.rank3 .icon-panel {
  background-color: $color-bronze;
}

:host.disqualified .icon-panel {
  background-color: $color-disqualification;
}

:host.pdf .icon-panel {
  background-color: $color-pdf;
}

:host.dsv .icon-panel {
  background-color: $color-dsv;
}

:host.lef .icon-panel {
  background-color: $color-lex;
}

:host.zip .icon-panel {
  background-color: $color-zip;
}

:host.inactive .icon-panel {
  background-color: #0176bb;
}
