@import "../../../../colors";

:host {
  padding: 6px;
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
  color: white;
  background: linear-gradient(#2c73df, $color-sr-first);
  border-radius: 4px;
  vertical-align: middle;
}

.mat-icon {
  margin-top: 2px;
}
