@use "/src/colors";

.max-height {
  height: 108px;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

span {
  color: $color-text-gray;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
