sr-spinner {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.livetiming-grid {
  display: grid;
  max-width: 600px;  grid-gap: 24px;
  justify-content: center;
  align-content: center;
}

.livetiming-grid-element {
  display: block;
  justify-self: center;

}


sr-livetiming-header.livetiming-grid-element {
  justify-self: end;
}
