@if (incident) {
    @if (incident.type === 'EVENT') {
        <div class="time-container">
            {{ incident.getStartTimeString() }}
    </div>
    }
    @if (incident.type === 'DURATION') {
        <div class="time-container">
            <i>{{ incident.getDurationString() }}</i>
    </div>
    }
    @if (incident.type === 'TIMELESS') {
        <div class="time-container">
            <i>&nbsp;</i>
    </div>
    }
    @if (incident.type === 'EVENT') {
        <div class="dot"></div>
    }
    <div class="content-container {{incident.type === 'DURATION' ? 'container-duration' : 'container-event'}}">
    <span class="name">
      <span>{{ 'EVENT.LIST.INCIDENT.' + incident.name.toUpperCase() | translate }}</span>
      <span>{{ incident.name_extension }}</span>
    </span>
    </div>
}
