@use "/src/colors";

.link-tile {

    mat-icon {
        font-size: 16px;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
    }

    a {
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 24px);
        display: inline-block;
        vertical-align: middle;
        color: colors.$color-sr-first;
    }
}
