<sr-widget-title icon="link">{{'WIDGET.WEBLINKS.TITLE' | translate}}</sr-widget-title>
@if (meeting && meeting.data) {
    <div class="link-list">
        @if (meeting.data.stream_url) {
            <div class="link-tile">
                <mat-icon>ondemand_video</mat-icon>
                <a class="link"
                   [href]="meeting.data.stream_url"
                   target="_blank"
                >{{ 'WIDGET.WEBLINKS.LIVESTREAM_LINK_TEXT' | translate }}</a>
            </div>
        }
        @if (meeting.data.website_url) {
            <div class="link-tile">
                <mat-icon>public</mat-icon>
                <a class="link"
                   [href]="meeting.data.website_url"
                   target="_blank"
                >{{ 'WIDGET.WEBLINKS.WEBSITE_LINK_TEXT' | translate }}</a>
            </div>
        }
        @if (meeting.data.instagram_url) {
            <div class="link-tile">
                <mat-icon>image</mat-icon>
                <a class="link"
                   [href]="meeting.data.instagram_url"
                   target="_blank"
                >{{ 'WIDGET.WEBLINKS.INSTAGRAM_LINK_TEXT' | translate }}</a>
            </div>
        }
        @if (meeting.data.facebook_url) {
            <div class="link-tile">
                <mat-icon>post_add</mat-icon>
                <a class="link"
                   [href]="meeting.data.facebook_url"
                   target="_blank"
                >{{ 'WIDGET.WEBLINKS.FACEBOOK_LINK_TEXT' | translate }}</a>
            </div>
        }
    </div>
}
