@use "/src/colors";

:host {
  //margin-bottom: 30px;
  display: block;
  border-bottom: 0.1px solid #0075bb;
}

.group-title {
  color: $color-nav-group-title;
  margin-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  display: inline-block;
}
