<ng-container *ngIf="isAuthed">
  <h1 *ngIf="!kcUser">Benutzerprofil</h1>
  <h1 *ngIf="kcUser">
    <span *ngIf="kcUser['given_name'] && kcUser['family_name']">
      {{kcUser["given_name"] + " " + kcUser["family_name"]}}
    </span>
    <span *ngIf="!kcUser['given_name'] || !kcUser['family_name']">
      {{kcUser["preferred_username"]}}
    </span>
  </h1>

  <table *ngIf="kcUser">
    <tr>
      <td>Nutzername</td>
      <td>{{kcUser["preferred_username"]}}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{kcUser["email"]}}</td>
    </tr>
    <tr>
      <td>Vorname</td>
      <td>{{kcUser["given_name"]}}</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>{{kcUser["family_name"]}}</td>
    </tr>
    <tr>
      <td>SR-ID</td>
      <td>{{user._id}}</td>
    </tr>
    <tr>
      <td>Following</td>
      <td>
        <ul>
          <li *ngFor="let follower of user.following">{{follower.athlete_id}}</li>
        </ul>
      </td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="!isAuthed">
  <h1>Benutzerprofil</h1>
  <sr-no-content>Du bist nicht angemeldet!</sr-no-content>
</ng-container>
