<p>admin-notification-sender works!</p>

<form [formGroup]="notificationForm" (ngSubmit)="sendNotification()">

    <label for="notification_subtitle">Untertitel</label>
    <input type="text" formControlName="subtitle" id="notification_subtitle">
    <br>

    <label for="notification_message">Nachricht</label>
    <input type="text" formControlName="message" id="notification_message">
    <br>

    <label for="notification_type">Typ</label>
    <select formControlName="type" id="notification_type">
        <option value="athlete">Eigener Sportler</option>
        <option value="favourites">Favoriten</option>
        <option value="meeting">Veranstaltung</option>
        <option value="schedule">Zeitplan</option>
    </select>
    <br>

    <label for="notification_level">Interruption Level</label>
    <select formControlName="level" id="notification_level">
        <option value="passive">Passiv</option>
        <option value="active">Aktiv</option>
        <option value="time-sensitive">Zeit Sensitiv</option>
        <option value="critical">Kritisch</option>
    </select>
    <br>

    <sr-btn>Senden</sr-btn>
</form>

<ul>
    @for (logEntry of log; track logEntry) {
        <li>{{ logEntry }}</li>
    }
</ul>
