sr-icon-btn {
  margin: 0 6px;
}

.info-text {
  display: inline-block;
  margin: 0 24px;
}

@media only screen and (max-width: 600px) {
    .info-text {
        position: absolute;
        display: block;
        margin: 16px 0 0;
        text-align: center;
        width: 288px;
    }
}
