<sr-btn (click)="decEvent()" class="{{hasPrevEvent ? 'enabled' : 'disabled'}}"><mat-icon>first_page</mat-icon></sr-btn>
<sr-btn (click)="decHeat()" class="{{currentHeat > 1 || hasPrevEvent ? 'enabled' : 'disabled'}}"><mat-icon>navigate_before</mat-icon></sr-btn>
<span>Wettkampf {{currentEvent}} – Lauf {{currentHeat}}</span>
<sr-btn (click)="incHeat()" class="{{currentHeat < heatAmount || hasNextEvent ? 'enabled' : 'disabled'}}"><mat-icon>navigate_next</mat-icon></sr-btn>
<sr-btn (click)="incEvent()" class="{{hasNextEvent ? 'enabled' : 'disabled'}}"><mat-icon>last_page</mat-icon></sr-btn>
