<h1>{{'ATHLETE.LIST.PAGE_TITLE' | translate}}</h1>
<ng-container *srIsAuthed="true">
  <h2>{{'ATHLETE.LIST.FAVORITES_TITLE' | translate}}</h2>
  <sr-list-view *ngIf="listFollowing"
    [data]="listFollowing"
    [useSearch]="false"
    [fetching]="fetchingFollowing"
    (refreshData)="fetchFollowing($event)"
  ></sr-list-view>

  <br>
  <h2>{{'ATHLETE.LIST.ATHLETES_TITLE' | translate}}</h2>
</ng-container>
<sr-list-view *ngIf="listAthletes"
  [data]="listAthletes"
  [fetching]="fetchingAthletes"
  (refreshData)="fetchAthletes($event)"
></sr-list-view>
