<h1>{{'ATHLETE.LIST.PAGE_TITLE' | translate}}</h1>
<ng-container *srIsAuthed="true">
  <h2>{{'ATHLETE.LIST.FAVORITES_TITLE' | translate}}</h2>
    @if (listFollowing) {
        <sr-list-view
            [data]="listFollowing"
            [useSearch]="false"
            [fetching]="fetchingFollowing"
            (refreshData)="fetchFollowing($event)"
        ></sr-list-view>
    }

  <br>
    <h2>{{ 'ATHLETE.LIST.ATHLETES_TITLE' | translate }}</h2>
</ng-container>
@if (listAthletes) {
    <sr-list-view
        [data]="listAthletes"
        [fetching]="fetchingAthletes"
        (refreshData)="fetchAthletes($event)"
    ></sr-list-view>
}
