<sr-nav-group>
  <sr-nav-link
    icon="dashboard"
    link="/dashboard"
    title="Dashboard"
  ></sr-nav-link>
</sr-nav-group>

<sr-nav-group>
  <sr-nav-link
    icon="calendar_month"
    link="/calendar"
    title="Veranstaltungen"
  ></sr-nav-link>
  <sr-nav-link
    icon="pool"
    link="athletes"
    title="Sportler"
  ></sr-nav-link>
  <sr-nav-link
    icon="shield"
    link="teams"
    title="Vereine"
  ></sr-nav-link>
</sr-nav-group>
<sr-nav-group>
  <sr-nav-link
    icon="bar_chart"
    link="stats"
    title="Statistiken"
  ></sr-nav-link>
</sr-nav-group>
