<sr-nav-group>
  <sr-nav-link
    icon="dashboard"
    link="/dashboard"
    title="NAV.LINK.TITLE.DASHBOARD"
  ></sr-nav-link>
</sr-nav-group>

<sr-nav-group>
  <sr-nav-link
    icon="calendar_month"
    link="/calendar"
    title="NAV.LINK.TITLE.EVENTS"
  ></sr-nav-link>
  <sr-nav-link
    icon="pool"
    link="athletes"
    title="NAV.LINK.TITLE.ATHLETES"
  ></sr-nav-link>
  <sr-nav-link
    icon="shield"
    link="teams"
    title="NAV.LINK.TITLE.TEAMS"
  ></sr-nav-link>
</sr-nav-group>
<sr-nav-group>
  <sr-nav-link
    icon="bar_chart"
    link="stats"
    title="NAV.LINK.TITLE.STATS"
  ></sr-nav-link>
</sr-nav-group>
