<sr-nav-group>
  <!--sr-nav-link
    icon="dashboard"
    link="dashboard"
    link_title="{{'NAV.LINK.TITLE.DASHBOARD' | translate}}"
  ></sr-nav-link-->
  <sr-nav-link
    icon="calendar_month"
    link=""
    link_title="{{'NAV.LINK.TITLE.MEETINGS' | translate}}"
  ></sr-nav-link>
</sr-nav-group>

<sr-nav-group>
  <sr-nav-link
    icon="pool"
    link="athlete"
    link_title="{{'NAV.LINK.TITLE.ATHLETES' | translate}}"
  ></sr-nav-link>
  <sr-nav-link
    icon="shield"
    link="team"
    link_title="{{'NAV.LINK.TITLE.TEAMS' | translate}}"
  ></sr-nav-link>
</sr-nav-group>

<!--<sr-nav-group>-->
<!--  <sr-nav-link-->
<!--    icon="bar_chart"-->
<!--    link="stats"-->
<!--    link_title="{{'NAV.LINK.TITLE.STATS' | translate}}"-->
<!--  ></sr-nav-link>-->
<!--</sr-nav-group>-->
