@use "/src/colors";

main {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 260px 40px minmax(1px,1440px) 40px;
  grid-template-areas:
    "sidebar . header ."
    "sidebar . page-content .";
  margin-top: 0;
  width: 100%;
  transition: 0.2s;

  .sidebar-hider {
    display: none;
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 1;
  }

  &.sidebar-hidden {
    grid-template-columns: 0 40px minmax(1px,1440px) 40px;
  }

  .content {
    display: grid;
    grid-area: page-content;
    margin-bottom: 70px;
  }

  sr-live-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;
  }

  sr-header {
    display: grid;
    grid-area: header;
  }

  sr-sidebar {
    grid-area: sidebar;
    position: fixed;
    transition: 0.2s;
    left: 0;
    z-index: 2;

    &.hidden {
      left: -300px;
    }

    &.full {
      left: 0;
    }
  }

  .build-info {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
  }
}

.system-environment {
  position: fixed;
  width: 300px;
  rotate: -45deg;
  z-index: 1000;
  background-color: #00459d;
  color: white;
  text-align: center;
  font-weight: 900;
  left: -104px;
  top: 34px;
  padding: 4px;
}

.footer {
    text-align: center;
    margin-top: 56px;

    .footer-logo {
        width: 40px;
        display: block;
        margin: 14px auto;
    }

    .footer-text {
        display: block;
        color: $color-footer-text;

        a {
            color: $color-footer-text;
            display: inline-block;
            margin: 0 6px;
            text-decoration: underline;
        }
    }
}


@media only screen and (max-width: 1050px) {
  main {
    grid-template-columns: 0 40px minmax(1px,1440px) 40px;
    &.sidebar-full .sidebar-hider {
      display: block;
    }
    &.sidebar-default .sidebar-hider {
      display: none;
    }
    sr-sidebar {
      &.hidden {
        left: -300px;
      }
      &.default {
        left: -300px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 0 16px minmax(1px,1440px) 16px;

    &.sidebar-hidden {
      grid-template-columns: 0 16px minmax(1px,1440px) 16px;
    }
  }
}
