@import "../../../../../colors";

.time-info {
  display: inline-block;
  vertical-align: top;
  width: 45px;
}

sr-icon-panel {
  vertical-align: top;
  position: relative;
  z-index: 1;
  //box-shadow: 0 0 0 4px $color-bg-first;
}

.event-info-content {
  display: inline-grid;
  vertical-align: top;
  padding: 0 14px 32px 34px;
  border-left: 4px solid $color-hr-border;
  position: relative;
  z-index: 0;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  align-content: center;
  width: calc(100% - 95px);
  margin-left: 63px;
  margin-top: -40px;

  .event-name-text {
    font-weight: 700;
  }

  &:hover .event-name-text {
    text-decoration: underline;
  }

  .event-heats {
    display: block;
    color: $color-text-gray;
  }

  mat-icon,
  .event-name-text {
    vertical-align: middle;
  }

  sr-text-btn {
    margin: 8px;
  }
}
@media only screen and (max-width: 800px) {
  .event-info-content {
    height: 55px;
  }
}
