@if (part) {
    @if (part.number) {
        <h2>{{ 'EVENT.LIST.PART_TITLE' | translate }} {{ part.number }}</h2>
    }
    @if (!fetchingHeats.fetching) {
        <sr-panel>
            <div class="timeline timeline-start"></div>
            @for (ev of part.events; track ev) {
                @if (incidents) {
                    @for (incident of incidents.get(ev.number); track incident) {
                        @if (incident.next_event === ev.number) {
                            <sr-event-incident [incident]="incident"></sr-event-incident>
                        }
                    }
                }
                <sr-event-list-event
                    [event]="ev"
                    [heatInfo]="heats.get(ev.number)"
                    [clickable]="meeting.hasData()"
                ></sr-event-list-event>
                @if (incidents) {
                    @for (incident of incidents.get(ev.number); track incident) {
                        @if (incident.prev_event === ev.number) {
                            <sr-event-incident [incident]="incident"></sr-event-incident>
                        }
                    }
                }
            }
            <div class="timeline timeline-end"></div>
    </sr-panel>
    }
    @if (fetchingHeats.fetching) {
        <sr-spinner></sr-spinner>
    }
}

