<ng-container *ngIf="part">
    <h2 *ngIf="part.number">{{'EVENT.LIST.PART_TITLE' | translate}} {{part.number}}</h2>
    <sr-panel *ngIf="!fetchingHeats.fetching">
        <div class="timeline timeline-start"></div>
        <ng-container *ngFor="let ev of part.events">

            <ng-container *ngIf="incidents">
                <ng-container *ngFor="let incident of incidents.get(ev.number)">
                    <sr-event-incident *ngIf="incident.next_event === ev.number" [incident]="incident"></sr-event-incident>
                </ng-container>
            </ng-container>

            <sr-event-list-event
                [event]="ev"
                [heatInfo]="heats.get(ev.number)"
                [clickable]="meeting.hasData()"
            ></sr-event-list-event>

            <ng-container *ngIf="incidents">
                <ng-container *ngFor="let incident of incidents.get(ev.number)">
                    <sr-event-incident *ngIf="incident.prev_event === ev.number" [incident]="incident"></sr-event-incident>
                </ng-container>
            </ng-container>
        </ng-container>
        <div class="timeline timeline-end"></div>
    </sr-panel>
    <sr-spinner *ngIf="fetchingHeats.fetching"></sr-spinner>
</ng-container>

