@import "../../../../../colors";

.refresh-btn {
  float: right;
  margin-top: -50px;
}

.event-name-text {
  span,
  mat-icon {
    display: inline-block;
    vertical-align: middle;
  }

  mat-icon {
    margin-left: 8px;
    color: $color-sr-first;
  }
}

.event-list-heat {
  span {
    display: inline-block;

    &.heat-name {
      width: 100px;
      font-weight: bold;
    }

    &.heat-time {
      width: 88px;
    }
  }

  sr-heat-times {
    display: inline-block;
    width: 168px;
  }

  .heat-check {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;

    mat-icon {
      color: $color-sr-first;
    }
  }
}
