@if (meeting) {
  <sr-btn class="refresh-btn" (btnClick)="fetchLists()"><mat-icon>refresh</mat-icon></sr-btn>
    @if (!parts || parts.length <= 0) {
        <sr-no-content>
            {{ 'EVENT.LIST.NO_EVENTS_MESSAGE' | translate }}
        </sr-no-content>
    }
    @for (part of parts; track part) {
        <div>
            @if (part.number) {
                <h2>{{ 'EVENT.LIST.PART_TITLE' | translate }} {{ part.number }}</h2>
            }
            <sr-panel>
                @for (event of part.events; track event) {
                    <div class="event-list-event">
                        <h2 class="event-name-text">
              <span>{{ 'EVENT.PAGE.EVENT_TITLE_EVENT' | translate }} {{ event.number }}@if (event && event.style) {
                  - {{ event.relay_distance ? event.relay_distance : event.distance }}m {{ 'COMMON.STYLE.' + event.style.name + '.NAME' | translate }} {{ event.name_extension }} {{ 'COMMON.GENDER.' + event.gender + '.NAME' | translate }}
              }</span>
                            @if (!event.certified) {
                                <mat-icon>radio_button_unchecked</mat-icon>
                            }
                            @if (event.certified) {
                                <mat-icon>check_circle</mat-icon>
                            }
                        </h2>
                        <div class="event-list-info">
                        </div>
                        @if (heats.get(event.number)) {
                            <div class="event-list-heats">
                                @for (heat of heats.get(event.number); track heat) {
                                    <div class="event-list-heat">
                                        <span class="heat-name">Lauf {{ heat.number }}
                                            /{{ heats.get(event.number)?.length }}</span>
                                        <!--sr-heat-times [heat]="heat" orientation="horizontal" fixedTimeWidth="80"></sr-heat-times>
                                        <span class="heat-time">{{heat.getStartAtTime()}}</span>
                                        <span class="heat-time">{{heat.getFinishedAtTime()}}</span>
                                        <div class="heat-check">
                                          <mat-icon *ngIf="heat.getFinishedAtTime() === '0:00'">radio_button_unchecked</mat-icon>
                                          <mat-icon *ngIf="heat.getFinishedAtTime() !== '0:00'">check_circle</mat-icon>
                                        </div-->
                                        <sr-icon-btn layout="no-background" class="show-heat"
                                                     (btnClick)="onShowHeat(heat)">
                                            <mat-icon>loupe</mat-icon>
                                        </sr-icon-btn>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
    </sr-panel>
  </div>
    }
}
