@use "/src/colors";

.back-btn {
    margin: 10px 12px 0;
    cursor: pointer;
    color: colors.$color-sr-first;

    span,
    mat-icon {
        display: inline-block;
        vertical-align: middle;
    }

    mat-icon {
        margin-right: 2px;
    }
}

nav {
  font-size: 13px;
  color: colors.$color-nav-link;
  height: calc(100vh - 160px);
  overflow: auto;
  display: inline-block;
}

.btn-menu {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .btn-menu {
    display: inline-block;
  }
}

