@if (meetingId && meeting) {
    <div
    class="back-btn"
    routerLink=""
    >
    <mat-icon>keyboard_backspace</mat-icon>
    <span class="link">{{'NAV.LINK.TITLE.LEAVE_MEETING' | translate:meetingParam}}</span>
    </div>
}

<nav>

  <!--sr-nav-link
  icon="close"
  class="btn-menu"
  (click)="hideSidebar()"
></sr-nav-link-->
    @if (!meetingId) {
        <sr-nav-default></sr-nav-default>
    }
    @if (meetingId) {
        <sr-nav-event [meeting]="meeting" [meetingId]="meetingId"></sr-nav-event>
    }
</nav>
