<nav>
  <div class="group">
    <span class="group-title">Dashboard</span>
    <div class="link" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span class="link-name">Dashboard</span>
    </div>
  </div>

  <div class="group">
    <span class="group-title">Veranstaltungen</span>
    <div class="link" routerLink="/schematics/submissions" routerLinkActive="active">
      <mat-icon>public</mat-icon>
      <span class="link-name">Wettkämpfe</span>
    </div>
    <div class="link" routerLink="/schematics/own" routerLinkActive="active">
      <mat-icon>calendar_month</mat-icon>
      <span class="link-name">Kalender</span>
    </div>
    <div class="link" routerLink="/schematics/public" routerLinkActive="active">
      <mat-icon>live_tv</mat-icon>
      <span class="link-name">Live</span>
    </div>
  </div>
</nav>
