@if (fetchingTeam.fetching) {
    <sr-spinner></sr-spinner>
}
@if (!fetchingTeam.fetching) {
  <sr-team-profile-intro [team]="team"></sr-team-profile-intro>
    @if (team.address && team.address.city || team.website) {
        <div class="team-info">
            <h1>{{ 'TEAM.PAGE.INFO_TITLE' | translate }}</h1>
            <div class="team-info-panels">
                @if (team.contact && (team.contact.name || team.contact.email || team.contact.fax || team.contact.phone)) {
                    <sr-panel
                        panelTitle="{{'TEAM.PAGE.CONTACT.TITLE' | translate}}"
                    >
                        <!--    <div *ngIf="team.contact.name"><b>{{"TEAM.PAGE.CONTACT.NAME" | translate}}: </b>{{team.contact.name}}</div>-->
                        <!--    <div *ngIf="team.contact.email"><b>{{"TEAM.PAGE.CONTACT.EMAIL" | translate}}: </b>{{team.contact.email}}</div>-->
                        <!--    <div *ngIf="team.contact.phone"><b>{{"TEAM.PAGE.CONTACT.PHONE" | translate}}: </b>{{team.contact.phone}}</div>-->
                        <!--    <div *ngIf="team.contact.fax"><b>{{"TEAM.PAGE.CONTACT.FAX" | translate}}: </b>{{team.contact.fax}}</div>-->
                        @if (team.contact.name) {
                            <div class="team-contact-info">
                                <mat-icon>person</mat-icon>
                                <span>{{ team.contact.name }}</span></div>
                        }
                        @if (team.contact.email) {
                            <div class="team-contact-info">
                                <mat-icon>email</mat-icon>
                                <span>{{ team.contact.email }}</span></div>
                        }
                        @if (team.contact.phone) {
                            <div class="team-contact-info">
                                <mat-icon>phone</mat-icon>
                                <span>{{ team.contact.phone }}</span></div>
                        }
                        @if (team.contact.fax) {
                            <div class="team-contact-info">
                                <mat-icon>fax</mat-icon>
                                <span>{{ team.contact.fax }}</span></div>
                        }
                    </sr-panel>
                }
                @if (team.address && team.address.city) {
                    <sr-panel panelTitle="{{'TEAM.PAGE.ADDRESS_TITLE' | translate}}">
                        {{ team.address.street }} {{ team.address.number }}<br>
                        {{ team.address.postal_code }} {{ team.address.city }}
                    </sr-panel>
                }
                @if (team.website) {
                    <sr-panel panelTitle="{{'TEAM.PAGE.WEBSITE.TITLE' | translate}}">
                        <a [href]="team.website" target="_blank">
                            <sr-btn>
                                <mat-icon>public</mat-icon>
                                <span>{{ 'TEAM.PAGE.WEBSITE.OPEN_BTN_TEXT' | translate }}</span></sr-btn>
                        </a>
                    </sr-panel>
                }
            </div>
        </div>
    }
    @if (teamId) {
        @if (meetingId) {
            <h1>{{ 'TEAM.PAGE.PARTICIPANTS_TITLE' | translate }}</h1>
        }
        @if (!meetingId) {
            <h1>{{ 'TEAM.PAGE.ATHLETE_TITLE' | translate }}</h1>
        }
    <sr-list-view
      [data]="listAthletes"
      [fetching]="fetchingAthletes"
      (refreshData)="fetchAthletes($event)"
    ></sr-list-view>
    }
}
