@use "/src/colors";

.logo-container,
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.logo {
  display: block;
  width: 70px;
}

.info {
  margin-left: 24px;
}

.name {
  font-size: 34px;
  font-weight: 900;
  display: block;
  line-height: 28px;
  padding-top: 10px;
}

.sub-info {
  color: colors.$color-text-gray;
  display: block;
  margin-top: 4px;
}

.team a {
  color: colors.$color-text-gray;
  text-decoration: none;
}

.team a:hover {
  color: colors.$color-text-main;
  text-decoration: underline;
}


sr-spinner {
  width: 70px;
  display: inline-block;
}

.action-buttons {
    display: flex;
    gap: 6px;
}
