@import "../../../../../colors";

.logo-container,
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.logo {
  display: block;
  width: 70px;
}

.info {
  margin-left: 24px;
}

.name {
  font-size: 34px;
  font-weight: bold;
  display: block;
  height: 24px;
  padding-top: 10px;
}

.sub-info {
  color: $color-text-gray;
  display: block;
  margin-top: 4px;
}

.team a {
  color: $color-text-gray;
  text-decoration: none;
}

.team a:hover {
  color: $color-text-main;
  text-decoration: underline;
}
