<ng-container *ngIf="meeting">
  <span class="title">{{meeting.getFullSeriesName()}}</span>
  <div class="info" *ngIf="meeting.location">
    <mat-icon>place</mat-icon>
    <div class="info-content location">
      <span>{{meeting.location.name}}</span><br>
      <span>{{meeting.location.street}} {{meeting.location.number}}</span><br>
      <span>{{meeting.location.postal_code}} {{meeting.location.city}}</span>
    </div>
  </div>
  <div class="info">
    <mat-icon>calendar_month</mat-icon>
    <span class="info-content date">{{meeting.getDateStringWithYear()}}</span>
  </div>
  <div class="info" *ngIf="meeting.location && meeting.location.lanes > 0">
    <mat-icon>lane</mat-icon>
    <span class="info-content">{{meeting.location.lanes}} {{"COMMON.LANE.PLURAL" | translate}}</span>
  </div>
  <div class="info" *ngIf="organizer">
    <mat-icon>group</mat-icon>
    <span class="info-content link"  [routerLink]="'../team/@' + organizer.alias[0]">{{organizer.name}}</span>
  </div>
</ng-container>
