@if (panelTitle) {
    <div class="title-box">
        <span class="panel-title">{{ panelTitle }}</span>
        @if (panelSubtitle) {
            <span> • </span>
        }
        @if (panelSubtitle) {
            <span class="panel-subtitle">{{ panelSubtitle }}</span>
        }
        @if (heatForTimes) {
            <span> • </span>
        }
        @if (heatForTimes) {
            <sr-heat-times [heat]="heatForTimes" orientation="horizontal"></sr-heat-times>
        }
    </div>
}
<div class="panel-container {{panelTitle ? 'panel-container-with-header' : ''}}">
  <ng-content></ng-content>
</div>
