.header {
    text-align: left;
    display: block;
    width: 100%;

    mat-icon {
        margin-right: 6px;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    mat-icon,
    .header-title {
        vertical-align: middle;
        display: inline-block;
    }
    .header-title {
        font-weight: 700;
    }
}
