@import "../../../../../colors";

.event {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid $color-hr-border;
}

.event:first-child {
  padding-top: 0
}

.event:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
