<sr-panel>
  <sr-start-list
    [starts]="starts"
    [config]="config"
  ></sr-start-list>
</sr-panel>
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<sr-panel>Wettkampf 30</sr-panel>-->
<!--<br>-->
<!--<br>-->
<!--<sr-panel panelTitle="Lauf 10/11">-->
<!--  <sr-start-list-->
<!--    [starts]="testStarts2"-->
<!--    [config]="config"-->
<!--  ></sr-start-list>-->
<!--</sr-panel>-->
<!--<br>-->
<!--<br>-->
<!--<sr-panel panelTitle="Lauf 11/11">-->
<!--  <sr-start-list-->
<!--    [starts]="testStarts"-->
<!--    [config]="config"-->
<!--  ></sr-start-list>-->
<!--</sr-panel>-->
