<div>@if (file && file.in_file_list && !file.hidden) {
    <a
        [href]="getUrl()"
        target="_blank"
        class="file-tile file-tile-{{file.existing ? 'existing' : 'missing'}}"
        (click)="clickDownload()"
    >
        <sr-file-icon [extension]="file.extension" [existing]="file.existing"></sr-file-icon>
        <span class="file-name">
      {{ name }}
    </span>
        <span class="file-type">
      <sr-badge>
        .{{ file.extension }}
      </sr-badge>
    </span>
        <span class="file-info">
      @if (file.url) {
          <div>
          <mat-icon title="external page">link</mat-icon>
        </div>
      }
            @if (!file.url && file.downloads) {
                <div>
          <mat-icon title="download">download</mat-icon>
          <span title="number of downloads">{{ file.downloads }}</span>
        </div>
            }
    </span>
    </a>
}
</div>
