$color-sr-first: #204988;
$color-sr-dark: #052a62;

$color-bg-first: #ffffff;
$color-shadow-first: #999999;

$color-sidebar-header: #ffffff;
$color-sidebar-bg: $color-sr-dark;
$color-sidebar-border: #aaaaaa;

$color-nav-link: #68a2c6;
$color-nav-link-active: #00dbff;
$color-nav-group-title: $color-nav-link;
$color-nav-bg-active: #111246;
