$color-sr-first: #204988;

$color-bg-first: #ffffff;
$color-shadow-first: #999999;

$color-sidebar-header: #ffffff;
$color-sidebar-bg: $color-sr-first;
$color-sidebar-border: #aaaaaa;

$color-nav-link: #dddddd;
$color-nav-link-active: #32a2e5;
$color-nav-group-title: $color-nav-link;
