$color-sr-first: #204988;
//$color-sr-first: #3fcd10;
$color-sr-dark: #052a62;
//$color-sr-dark: #0e8d00;

$color-bg-page: #f2f2f2;
$color-bg-gray: #f5f5f5;
$color-bg-first: #ffffff;
$color-shadow-first: #999999;
$color-shadow-second: #000000;

$color-search-bg: #e6e6e6;
$color-search-text: #6b6b6b;

$color-sidebar-header: #ffffff;
$color-sidebar-bg: $color-sr-dark;
$color-sidebar-border: #aaaaaa;

$color-nav-link: #68a2c6;
$color-nav-link-active: #00dbff;
$color-nav-group-title: $color-nav-link;
$color-nav-bg-active: #111246;

$color-text-main: #222222;
$color-text-gray: #727272;

$color-icon-first: $color-sr-dark;

$color-btn-first: $color-sr-first;
$color-btn-second: #eaeaea;

$color-hr-border: #e6e6e6;

$color-red: #d72c2c;
$color-green: #39c114;

$color-disqualification: $color-red;
$color-gold: #ffc000;
$color-silver: #acacac;
$color-bronze: #d57b00;

// files

$color-pdf: #aa0a00;
$color-dsv: #0176bb;
$color-lnx: #5dc1f3;
$color-zip: #edc213;

$random-colors: [
  #ff5151,
  #ffaa2d,
  #f8ff2d,
  #73ff2d,
  #2dffa7,
  #2da8ff,
  #2d57ff,
  #8b2dff,
  #d82dff,
  #ff2d8b,

]
