<div>
  <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="setPassword()">
    <input type="password" formControlName="pwd">
    <sr-btn><mat-icon>key</mat-icon> <span>Key setzen</span></sr-btn>
    <sr-btn (btnClick)="unsetPassword()"><mat-icon>delete</mat-icon> <span>Key löschen</span></sr-btn>
  </form>
  <form [formGroup]="heatForm" (ngSubmit)="setHeat()">
    <label for="event_number">WK:</label>
    <input type="number" formControlName="event" id="event_number">
    <label for="heat_number">Lauf:</label>
    <input type="number" formControlName="heat" id="heat_number">
    <sr-btn><mat-icon>search</mat-icon></sr-btn>
  </form>
</div>

<h2>{{'EVENT.PAGE.EVENT_TITLE_EVENT' | translate}} {{currentEvent}}<ng-container *ngIf="event && event.style"> - {{event.relay_distance ? event.relay_distance : event.distance}}m {{'COMMON.STYLE.' + event.style.name + '.NAME' | translate}} {{'COMMON.GENDER.' + event.gender + '.NAME' | translate}}</ng-container></h2>


<sr-panel class="heat-starts"
          *ngIf="heat"
          panelTitle="{{'EVENT.PAGE.HEAT' | translate}}{{' ' + heat.number + '/' + maxHeats}}"
          [heatForTimes]="heat"
>
  <sr-spinner *ngIf="false"></sr-spinner>
  <sr-start-list *ngIf="starts.length > 0 && !fetchingStarts.fetching"
                 [starts]="starts"
                 [config]="config"
  ></sr-start-list>
</sr-panel>
<sr-no-content *ngIf="!password">
  Kein Passwort gesetzt!
</sr-no-content>
<div class="heat-buttons" *ngIf="password">
  <sr-panel class="heat-button-box">
    <sr-btn (btnClick)="startHeat()"><mat-icon>start</mat-icon> <span>Lauf setzen</span></sr-btn>
    <br>
    <sr-btn (btnClick)="finishHeat()"><mat-icon>flag</mat-icon> <span>Lauf beenden</span></sr-btn>
    <br>
    <sr-btn [active]="false"><mat-icon>delete</mat-icon> <span>Ergebnisse löschen</span></sr-btn>
    <br>
    <sr-btn [active]="false"><mat-icon>check</mat-icon> <span>Ergeb. bestätigen</span></sr-btn>
  </sr-panel>
  <sr-panel class="heat-button-box" *ngIf="heat">
    <form [formGroup]="timesForm">
      <input type="time" formControlName="estimation">
      <sr-btn (btnClick)="modifyTimes('estimation')"><mat-icon>schedule</mat-icon> <span>vorl. Start setzen</span></sr-btn>
      <br>
      <input type="time" formControlName="start">
      <sr-btn (btnClick)="modifyTimes('start')"><mat-icon>schedule</mat-icon> <span>Startzeit setzen</span></sr-btn>
      <br>
      <input type="time" formControlName="finished">
      <sr-btn (btnClick)="modifyTimes('finished')"><mat-icon>schedule</mat-icon> <span>Endzeit setzen</span></sr-btn>
      <br>
      <sr-btn [active]="false"><mat-icon>delete</mat-icon> <span>Zeiten löschen</span></sr-btn>
    </form>
  </sr-panel>
  <sr-panel class="heat-button-box">
    <form [formGroup]="resultForm" (ngSubmit)="addResult()">
      <label for="lane_number">Bahn:</label>
      <select id="lane_number" formControlName="lane">
        <option *ngFor="let m of availableLanes" [value]="m">{{m}}</option>
      </select>
      <br>
      <label for="result_time">Ergebnis:</label>
      <input type="text" id="result_time" formControlName="result">
      <br>
      <label for="meters">Distanz:</label>
      <select id="meters" formControlName="meters">
        <option value="RT">Reaktion</option>
        <option *ngFor="let m of availableMeters" [value]="m + 'm'">{{m + "m"}}</option>
      </select>
      <br>
      <label for="has_finished">beendet:</label>
      <input type="checkbox" id="has_finished" formControlName="finished">
      <sr-btn><mat-icon>start</mat-icon> <span>Ergebnis eintragen</span></sr-btn>
    </form>
  </sr-panel>
</div>
