<h1>{{'EVENT.PAGE.EVENT_TITLE_EVENT' | translate}} {{eventNumber}}<ng-container *ngIf="event && event.style"> - {{event.relay_distance ? event.relay_distance : event.distance}}m {{'COMMON.STYLE.' + event.style.name + '.NAME' | translate}} {{'COMMON.GENDER.' + event.gender + '.NAME' | translate}}</ng-container></h1>

<sr-panel class="heat-starts"
          *ngFor="let heat of heats.keys()"
          [panelTitle]="'Lauf ' + heat + '/' + heats.size"
>
  <sr-start-list *ngIf="starts.length > 0"
    [starts]="heats.get(heat)"
    [config]="config"
  ></sr-start-list>
</sr-panel>
