@if (fetching.fetching) {
    <sr-spinner></sr-spinner>
}
@if (!fetching.fetching) {
    @for (year of meetingYears.keys(); track year) {
        <div class="meeting-year">
            <h2>{{ year }}</h2>
            <div class="meetings">
                @for (meeting of meetingYears.get(year); track meeting) {
                    <sr-meeting-list-tile
                        [meeting]="meeting"
                    >
                    </sr-meeting-list-tile>
                }
            </div>
        </div>
    }
}

