@import "../../../../../colors";

.meeting-year {
  margin: 12px 0 56px;
}

.meetings {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

sr-meeting-list-tile {
  //padding: 24px;
  //background-color: $color-bg-first;
  //border-radius: 24px;
  display: block;
  margin: 12px 12px 36px;
  width: 275px;
}

@media only screen and (max-width: 450px) {
  .meetings {
    justify-content: center;
  }
  sr-meeting-list-tile {
    width: 100%;
  }
}
