<ng-container *ngIf="meetingId">
  <sr-nav-group>
    <sr-nav-link
      icon="dashboard"
      link="/m/{{meetingId}}/dashboard"
      link_title="{{'NAV.LINK.TITLE.DASHBOARD' | translate}}"
    ></sr-nav-link>
    <sr-nav-link
      icon="live_tv"
      link="/m/{{meetingId}}/live"
      link_title="{{'NAV.LINK.TITLE.LIVE' | translate}}"
    ></sr-nav-link>
  </sr-nav-group>
  <sr-nav-group>
    <sr-nav-link
      icon="flag"
      link="/m/{{meetingId}}/event"
      link_title="{{'NAV.LINK.TITLE.EVENTS' | translate}}"
    ></sr-nav-link>
    <sr-nav-link
      icon="pool"
      link="/m/{{meetingId}}/athlete"
      link_title="{{'NAV.LINK.TITLE.ATHLETES' | translate}}"
    ></sr-nav-link>
    <sr-nav-link
      icon="shield"
      link="/m/{{meetingId}}/team"
      link_title="{{'NAV.LINK.TITLE.TEAMS' | translate}}"
    ></sr-nav-link>
  </sr-nav-group>
  <sr-nav-group>
    <sr-nav-link
      icon="description"
      link="/m/{{meetingId}}/files"
      link_title="{{'NAV.LINK.TITLE.FILES' | translate}}"
    ></sr-nav-link>
      <sr-nav-link
          *srHasScope="'speaker'"
          icon="interpreter_mode"
          link="/m/{{meetingId}}/speaker"
          link_title="{{'NAV.LINK.TITLE.SPEAKER' | translate}}"
      ></sr-nav-link>
  <!--  <sr-nav-link-->
  <!--    icon="bar_chart"-->
  <!--    link="/m/{{meetingId}}/stats"-->
  <!--    link_title="{{'NAV.LINK.TITLE.STATS' | translate}}"-->
  <!--  ></sr-nav-link>-->
  </sr-nav-group>
  <sr-nav-group *srIsAdmin>
    <sr-nav-link
      icon="terminal"
      link="/m/{{meetingId}}/admin/event"
      link_title="{{'NAV.LINK.TITLE.ADMIN' | translate}}"
    ></sr-nav-link>
      <sr-nav-link
          icon="bell"
          link="/m/{{meetingId}}/admin/notification"
          link_title="Notifications"
      ></sr-nav-link>
  </sr-nav-group>
</ng-container>
