<sr-nav-group>
  <sr-nav-link
    icon="dashboard"
    link="/event/{{event}}/dashboard"
    title="Dashboard"
  ></sr-nav-link>
  <sr-nav-link
    icon="live_tv"
    link="/event/{{event}}/live"
    title="Live"
  ></sr-nav-link>
</sr-nav-group>
<sr-nav-group>
  <sr-nav-link
    icon="flag"
    link="/event/{{event}}/events"
    title="Wettkämpfe"
  ></sr-nav-link>
  <sr-nav-link
    icon="pool"
    link="/event/{{event}}/athletes"
    title="Sportler"
  ></sr-nav-link>
  <sr-nav-link
    icon="shield"
    link="/event/{{event}}/teams"
    title="Vereine"
  ></sr-nav-link>
</sr-nav-group>
<sr-nav-group>
  <sr-nav-link
    icon="description"
    link="/event/{{event}}/files"
    title="Dateien"
  ></sr-nav-link>
  <sr-nav-link
    icon="bar_chart"
    link="/event/{{event}}/stats"
    title="Statistiken"
  ></sr-nav-link>
</sr-nav-group>

