<sr-widget-login-required></sr-widget-login-required>
<ng-container>
    <sr-widget-title icon="persons">{{'WIDGET.FAVORITES.TITLE' | translate}}</sr-widget-title>
    <div class="athlete-list">
        <div class="athlete" *ngFor="let follow of following" [routerLink]="'../athlete/' + follow.alias[0] + '-' + follow.year">
            <div class="athlete-icon">
                <span class="athlete-initials">{{getInitials(follow)}}</span>
            </div>
            <div class="athlete-text">
                <span class="athlete-name">
                    {{follow.name}}
                </span>
                <span class="athlete-team">
                    {{follow.team.name}}
                </span>
            </div>
        </div>
    </div>
</ng-container>
