<sr-widget-title icon="paid">{{'WIDGET.SPONSORS.TITLE' | translate}}</sr-widget-title>
@if (!sponsor) {
    <sr-widget-info-text>{{ 'WIDGET.SPONSORS.NO_SPONSORS' | translate }}</sr-widget-info-text>
}
@if (sponsor) {
    @if (sponsor.website_url) {
        <a [href]="sponsor.website_url">
            <img class="sponsor-image" [src]="sponsor.image_url" [alt]="sponsor.name">
    </a>
    }
    @if (!sponsor.website_url) {
        <span>
      <img class="sponsor-image" [src]="sponsor.image_url" [alt]="sponsor.name">
    </span>
    }
}
