<sr-panel class="header">
    <sr-icon-panel class="icon" [icon]="has_meeting ? 'event' : 'public'"></sr-icon-panel>
    <sr-icon-panel class="icon-btn-menu" icon="menu" (click)="showMenu()"></sr-icon-panel>
    @if (has_meeting && meeting) {
        <div class="title-box">
            <span class="title">
                {{ meeting.getFullSeriesNameWithYear() }}
            </span>
            @for (subtitle of meeting.subtitles; track subtitle) {
                <span class="subtitle">
                    {{ subtitle }}
                </span>
            }
        </div>
    }
    @if (!has_meeting) {
        <div class="title-box">
            <span class="title">SwimResults</span>
        </div>
    }
    <sr-header-buttons class="buttons"></sr-header-buttons>
</sr-panel>

<sr-panel class="title-mobile">
    @if (has_meeting && meeting) {
        <div class="title-box">
            <span class="title">
                {{ meeting.getFullSeriesNameWithYear() }}
            </span>
            @for (subtitle of meeting.subtitles; track subtitle) {
                <span class="subtitle">
                    {{ subtitle }}
                </span>
            }
        </div>
    }
    @if (!has_meeting) {
        <div class="title-box">
            <span class="title">SwimResults</span>
        </div>
    }
</sr-panel>

