@use "/src/colors";

:host {
    margin: 22px 0;
}

.title-box {
    vertical-align: middle;
}

.title {
    font-weight: 700;
    font-size: 22px;
}

.subtitle {
    display: block;
}

.header {
    .title-box {
        display: inline-block;
        width: calc(100% - 40px - 42px - 42px - 42px - 80px);
        margin: 0 18px;
    }
}

.buttons {
    display: inline-block;
}

.icon-btn-menu {
    display: none;
    cursor: pointer;
}

.icon {
    display: inline-block;
}

.title-mobile {
    display: none;
    text-align: center;
    margin-top: 12px;

    .title-box {
        height: auto;
    }
}

.header-warnings {
    color: red;
    font-weight: bold;
    margin-top: 12px;

    .header-warning {
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-gap: 4px;

        span {
            margin-top: 2px;
        }
    }
}

@media only screen and (max-width: 1050px) {
    .header .title-box {
        display: none;
    }

    sr-header-buttons {
        margin-left: calc(100% - 205px);
    }

    .title-mobile {
        display: block;

        .title-box {
            display: block;
        }
    }

    .icon-btn-menu {
        display: inline-block;
    }

    .icon {
        display: none;
    }
}
